body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.map {
    width: 800px;
    height: 380px;
    background: url(./map.png);
    background-size: contain;
    
}
.layout {
    width: 800px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
}
.layout div {
    width: 10px;
    height: 10px;
    
    box-sizing: border-box;
}