@font-face {
    font-family: Style;
    src: url(./BBHBartle-Regular.ttf);
}
body {
    padding: 0;
    margin: 0;
    font-family: Style;
    position: relative;
}
.viewport {
    width: min-content;
    height: 100vh;
    background: #000;
}
.map {
    position: absolute;
    width: 800px;
    height: 400px;
    background: url(./map.png) no-repeat;
    background-size: cover;
}

.layout {
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.gameTitle {
    position: absolute;
    width: 800px;
    height: 400px;
    background: rgb(0, 0, 0);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.playGame {
    padding:40px;
    background: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    border: none;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #000;
    font-size: large;
    color: white;
    border-radius: 16px;
}
.res {
    position: absolute;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showRes {
    z-index: 4;
}
.window {
    width: 600px;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameBtn {
    border: none;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #000;
    font-size: large;
    color: white;
    border-radius: 16px;
}
.hideLayout {
    display: none;
}
.showLayout {
    display: inline-block;
}
.layout div {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
}
.supermanPos {
    background: url(./supermanPos/supermanPos.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
    
}

.batmanPos {
    background: url(./batmanPos/batmanPos.png) center;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}
.superman {
    background: url(./supermanPos/supermanPos.png) center no-repeat;
    background-size: contain;
    transform: scale(6) scaleX(-1);
}
.batman {
    background: url(./batmanPos/batmanPos.png) center;
    background-size: contain;
    transform: scale(4);
}
.hitLaser {
    position: fixed;
    right: 60px;
    bottom: 120px;
    margin-bottom: 4px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
    overflow: hidden;
}
.jump {
    position: fixed;
    left: 60px;
    bottom: 120px;
    margin-bottom: 4px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.fly {
    position: fixed;
    left: 60px;
    bottom: 180px;
    margin-bottom: 8px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
    
}
.speed {
    position: fixed;
    right: 60px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.moveLeft {
    position: fixed;
    left: 60px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.moveRight {
    position: fixed;
    margin-left: 4px;
    left: 100px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.punch {
    position: fixed;
    left: 60px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;

}
.hitLaserIcon {
    width: 60px;
    height: 60px;
    background: url(./supermanLaser.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.jumpIcon {
    width: 50px;
    height: 50px;
    background: url(./jump.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.flyIcon {
    width: 50px;
    height: 50px;
    background: url(./fly.png) center no-repeat;
    background-size: contain;
}
.speedIcon {
    width: 50px;
    height: 50px;
    background: url(./speed.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.punchIcon {
    width: 50px;
    height: 50px;
    background: url(./punch.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.noPower {
    filter: invert(0.4);
}
.supermanHitpoints {
    background:   rgb(34, 98, 236);
    
}
.batmanHitpoints {
    background: rgb(238, 32, 32);
    
    
}
.laser {
    background: url(./redLaser.png) center;
    background-size: contain;
    transform: none;
}
.fists {
    background: none;
}
.supermanFists {
    transform: scale(12);
    animation: fists 0.6s ease;
}
.fires {
    background: url(./batWeapon.png) center;
    background-size: contain;
    transform: scale(4);
}
.batmanLaser {
    background: url(./blueLaser.png) center;
    background-size: contain;
}
.fistsPos {
    background: url(./supermanFists/supermanFists.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}
.fistsPos2 {
    background: url(./supermanFists/supermanFists2.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}
.fistsPos3 {
    background: url(./supermanFists/supermanFists3.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}
.fistsPos4 {
    background: url(./supermanFists/supermanFists4.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}



.jumpPos {
    background: url(./supermanJump/sueprmanJump.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1) scale(10);
}
.jumpPos2 {
    background: url(./supermanJump/supermanJump2.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1) scale(10);
}
.flyPos {
    background: url(./supermanFly/sueprmanFly.png) center no-repeat;
    background-size: contain;
    transform:  scale(12) scaleX(-1);
}
.flyPos2 {
    background: url(./supermanFly/supermanFly2.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}
.flyPos3 {
    background: url(./supermanFly/supermanFly3.png) center no-repeat;
    background-size: contain;
    transform:  scale(10);
}
.flyPos4 {
    background: url(./supermanFly/supermanFly4.png) center no-repeat;
    background-size: contain;
    transform:  scale(10);
}
.supermanFly {
    background: url(./supermanFly/supermanFlyPos/flyPos.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}
.supermanFly2 {
    background: url(./supermanFly/supermanFlyPos/flyPos2.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}
.supermanFly3 {
    background: url(./supermanFly/supermanFlyPos/flyPos3.png) center no-repeat;
    background-size: contain;
    transform:  scale(12);
}
.supermanLaser {
    background: url(./supermanLaser/supermanLaser.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) scaleX(-1);
}
.supermanLaser2 {
    background: url(./supermanLaser/supermanLaser2.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) scaleX(-1);
}
.supermanLaser3 {
    background: url(./supermanLaser/supermanLaser3.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) scaleX(-1);
}
.supermanLaser4 {
    background: url(./supermanLaser/supermanLaser4.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) scaleX(-1);
}
.supermanRun {  
    background: url(./supermanRun/runPos.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) scaleX(-1);
    
}
.supermanRun2 {  
    background: url(./supermanRun/runPos2.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) scaleX(-1);
    
}
.supermanRun3 {  
    background: url(./supermanRun/runPos3.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) scaleX(-1);
    
}
.supermanRunBack {  
    background: url(./supermanRun/runPos.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) ;
    
}
.supermanRunBack2 {  
    background: url(./supermanRun/runPos2.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) ;
    
}
.supermanRunBack3 {  
    background: url(./supermanRun/runPos3.png) center no-repeat;
    background-size: contain;
    transform:  scale(10) ;  
}
.batmanLaserPos {
    background: url(./batmanLaser/batmanLaser.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}
.batmanLaserPos2 {
    background: url(./batmanLaser/batmanLaser2.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}
.batmanLaserPos3 {
    background: url(./batmanLaser/batmanLaser3.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}
.batmanJumpPos {
    background: url(./batmanJumpPos/batmanjumpPos.png) center no-repeat;
    background-size: contain;
    transform: scale(12);
}
.batmanJumpPos2 {
    background: url(./batmanJumpPos/batmanjumpPos2.png) center no-repeat;
    background-size: contain;
    transform: scale(12) ;
}
.batmanFires {
    background: url(./batmanFires/batmanFiresPos.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}
.batmanFires2 {
    background: url(./batmanFires/batmanFiresPos2.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}
.batmanGoBackPos {
    background: url(./batmanGoBackPos/batmanPos.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}