@font-face {
    font-family: Style;
    src: url(./BBHBartle-Regular.ttf);
}
body {
    padding: 0;
    margin: 0;
    font-family: Style;
    position: relative;
}
.map {
    position: absolute;
    width: 800px;
    height: 400px;
    background: url(./map.jpg) no-repeat;
    background-size: cover;
}

.layout {
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;

}
.gameTitle {
    position: absolute;
    width: 800px;
    height: 400px;
    background: url(./map.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.playGame {
    padding:40px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    border: none;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #000;
    font-size: large;
    color: white;
    border-radius: 16px;
}
.res {
    position: absolute;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showRes {
    z-index: 4;
}
.window {
    width: 600px;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameBtn {
    border: none;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #000;
    font-size: large;
    color: white;
    border-radius: 16px;
}
.hideLayout {
    display: none;
}
.showLayout {
    display: inline-block;
}
.layout div {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
}
.supermanPos {
    background: url(./supermanPos/supermanPos.png) center no-repeat;
    background-size: contain;
    transform: scale() scaleX(-1);
    display: none;
}
.supermanPosition {
    background: url(./supermanPos/supermanPos.png) center no-repeat;
    background-size: contain;
    transform: scale(12) scaleX(-1);
}
.hideSuperman {
    display: none;
}



.batmanPos {
    background: url(./batman.png) center;
    background-size: contain;
    transform: scale(10) scaleX(-1);
    
}
.superman {
    background: url(./supermanPos/supermanPos.png) center no-repeat;
    background-size: contain;
    transform: scale(6) scaleX(-1);
}
.batman {
    background: url(./batman.png) center;
    background-size: contain;
    transform: scale(4);
}
.hitLaser {
    position: fixed;
    right: 60px;
    bottom: 120px;
    margin-bottom: 4px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
    overflow: hidden;
}
.jump {
    position: fixed;
    left: 60px;
    bottom: 120px;
    margin-bottom: 4px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.fly {
    position: fixed;
    left: 60px;
    bottom: 180px;
    margin-bottom: 8px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
    
}
.speed {
    position: fixed;
    right: 60px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.moveLeft {
    position: fixed;
    left: 60px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.moveRight {
    position: fixed;
    margin-left: 4px;
    left: 100px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
}
.punch {
    position: fixed;
    left: 60px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;

}
.hitLaserIcon {
    width: 60px;
    height: 60px;
    background: url(./supermanLaser.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.jumpIcon {
    width: 50px;
    height: 50px;
    background: url(./jump.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.flyIcon {
    width: 50px;
    height: 50px;
    background: url(./fly.png) center no-repeat;
    background-size: contain;
}
.speedIcon {
    width: 50px;
    height: 50px;
    background: url(./speed.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.punchIcon {
    width: 50px;
    height: 50px;
    background: url(./punch.png) center no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.noPower {
    filter: invert(0.4);
}
.supermanHitpoints {
    background:   rgb(34, 98, 236);
    
}
.batmanHitpoints {
    background: rgb(238, 32, 32);
    
    
}
.laser {
    background: url(./redLaser.png) center;
    background-size: contain;
}
.fists {
    display: none;
}
.supermanFists {
    transform: scale(12);
    animation: fists 0.6s ease;
}
.supermanJump {
    transform: scale(12);
    animation: supermanJump 0.8s ease;
}
.fires {
    background: url(./batWeapon.png) center;
    background-size: contain;
}
.batmanLaser {
    background: url(./blueLaser.png) center;
    background-size: contain;
}


@keyframes fists {
    0% {
        background: url(./supermanFists/supermanFists.png) center no-repeat;
        background-size: contain;
        
        
    }
    10%{
        background: url(./supermanFists/supermanFists.png) center no-repeat;
        background-size: contain;
    
    }
    30% {
        background: url(./supermanFists/supermanFists2.png) center no-repeat;
        background-size: contain;
        
    
    }
    40%{
        background: url(./supermanFists/supermanFists2.png) center no-repeat;
        background-size: contain;
        
        
    }
    50% {
        background: url(./supermanFists/supermanFists3.png) center no-repeat;
        background-size: contain;
        
    }
    60% {
        background: url(./supermanFists/supermanFists3.png) center no-repeat;
        background-size: contain;
    }
    70% {
        background: url(./supermanFists/supermanFists4.png) center no-repeat;
        background-size: contain;
    }
    80% {
        background: url(./supermanFists/supermanFists4.png) center no-repeat;
        background-size: contain;
        
        
    }
    90% {
        background: url(./supermanFists/supermanFists.png) center no-repeat;
        background-size: contain;  
   
    }
    100% {
        background: url(./supermanFists/supermanFists.png) center no-repeat;
        background-size: contain;
    }
}
@keyframes supermanJump {
    0% {
        background: url(./supermanJump/sueprmanJump.png) center no-repeat;
        background-size: contain;
        transform: scaleX(-1) scale(10) translateY(0px);
        
    }
    20%{
        background: url(./supermanJump/sueprmanJump.png) center no-repeat;
        background-size: contain;
        transform: scaleX(-1) scale(10) translateY(0px);
    
    }
    40% {
        background: url(./supermanJump/sueprmanJump.png) center no-repeat;
        background-size: contain;
        transform: scaleX(-1) scale(10)  translateY(-10px);
    
    }
    60%{
        background: url(./supermanJump/supermanJump2.png) center no-repeat;
        background-size: contain;
        transform: scaleX(-1) scale(10) translateY(-10px);
        
        
    }
    80% {
        background: url(./supermanJump/supermanJump2.png) center no-repeat;
        background-size: contain;
        transform: scaleX(-1) scale(10) translateY(0px);
    }
    100% {
        background: url(./supermanJump/supermanJump2.png) center no-repeat;
        background-size: contain;
        transform: scaleX(-1) scale(10) translateY(0px);
    }
    
}